
<div class="container">
  <div class="card col-md-6 offset-3 mt-2">
    <div class="card-header">New Patient</div>
    <div class="card-body">
      <form [formGroup]="updatePatientFormGroup" (ngSubmit)="handleEditPatient()">
        <div class="mb-3">
          <label class="form-label">ID:</label>
          <label class="form-label">{{patient.id}}</label>
        </div>
        <div class="mb-3">
          <label class="form-label">Firstname:</label>
          <input type="text" formControlName="firstName" class="form-control">
          <span class= "text-danger"
                *ngIf="updatePatientFormGroup.controls['firstName'].touched
                && updatePatientFormGroup.controls['firstName'].errors
                && updatePatientFormGroup.controls['firstName'].errors!['required']">
            Firstname is required
          </span>
        </div>
        <div class="mb-3">
          <label class="form-label">Lastname:</label>
          <input type="text" formControlName="lastName" class="form-control">
          <span class= "text-danger"
                *ngIf="updatePatientFormGroup.controls['lastName'].touched
                && updatePatientFormGroup.controls['lastName'].errors
                && updatePatientFormGroup.controls['lastName'].errors!['required']">
            Lastname is required
          </span>
        </div>
        <div class="mb-3">
          <label class="form-label">Birthdate:</label>
          <input type="date | date: 'yyyy/MM/dd'" formControlName="birthDate" class="form-control">
          <span class= "text-danger"
                *ngIf="updatePatientFormGroup.controls['birthDate'].touched
                && updatePatientFormGroup.controls['birthDate'].errors
                && updatePatientFormGroup.controls['birthDate'].errors!['required']">
            Birthdate is required
          </span>
        </div>
        <div class="mb-3">
          <label class="form-label">Gender:</label>
          <input type="text" formControlName="type" class="form-control">
          <span class= "text-danger"
                *ngIf="updatePatientFormGroup.controls['type'].touched
                && updatePatientFormGroup.controls['type'].errors
                && updatePatientFormGroup.controls['type'].errors!['required']">
            Gender is required
          </span>
        </div>
        <div class="mb-3">
          <label class="form-label">Address:</label>
          <input type="text" formControlName="address" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Number:</label>
          <input type="text" formControlName="number" class="form-control">
        </div>
        <button [disabled]="!updatePatientFormGroup.valid" class="btn btn-success">Save</button>
      </form>
    </div>
  </div>
</div>


