<div class="container mt-2">
  <ng-container *ngIf="patients| async as listPatients; else failureOrloading">
    <div class="card">
      <div class="card-header">Patients</div>
      <div class="card-body">
        <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchPatient()">
          <div class="input-group">
            <label class="input-group-text">Keyword</label>
            <input type="text" formControlName="keyword" class="form-control">
            <button class="btn btn-info">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
        <table class="table">
          <thead>
          <tr>
            <th>ID</th><th>Firstname</th><th>Lastname</th><th>Birthdate</th><th>Gender</th><th>Address</th><th>Number</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of patients | async" >
            <td>{{p.id}}</td>
            <td>{{p.firstName}}</td>
            <td>{{p.lastName}}</td>
            <td>{{p.birthDate}}</td>
            <td>{{p.type}}</td>
            <td>{{p.address}}</td>
            <td>{{p.number}}</td>
            <td>
              <button (click)="handleConsultNotes(p)" class="btn btn-success">
                Notes
              </button>
            </td>
            <td>
              <button (click)="handleUpdatePatient(p)" class="btn btn-success">
              <i class="bi bi-file"></i>
              </button>
            </td>
            <td>
              <button (click)="handleDeletePatient(p)" class="btn btn-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template  #failureOrloading>
    <ng-container *ngIf="errorMessage";else loading>
      <div class ="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading ....
    </ng-template>
  </ng-template>
</div>
