<div class="container">
  <div>
    <h1>We care.</h1>
    <p class="text">Mediscreen specializes in detecting risk factors for disease.
    Our screenings using predictive analysis of patient populations at an affordable cost.</p>
    <ul>
      <li>Are you a small or rural clinic or practice?</li>
      <li>Do you need screenings for heart disease or hyper tension precursors?</li>
    </ul>
    <p class="up">We have a solution for you.</p>
  </div>
  <p>
    <img src="/assets/home.jpg" alt="image d'accueil">
  </p>
</div>
